.App {
  text-align: center;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: cadetblue;
  /* background: transparent; */
  text-shadow: 0 2px 2px black;
  /* background-color: whitesmoke; */
  /* padding: 6px 2px 3px 1px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); */
}

h2 {
  color: black;
  text-shadow: hotpink;
}

input {
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  height: 50px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 20%;
  align-items: center;
  border-bottom: 0.5px solid #8566;
  border-top: 0.5px solid #8566;
  border-left: 0.5px solid#8566;
  border-right: 0.5px solid #8566;
  
}

Button {
  align-items: center;
  min-height: 50px;
  width: 80px;
  border-radius: 8%;
  border-color: transparent;
  background-color: #008cba;
  color: #ffff;
  font-size: 20px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.item {

  width: 350px;
  padding-left: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey; 
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 8px;
}

.editdel{
  float: right;
  text-align: right;
  padding-right: 5px;
  nav-right: auto; 
}

.actions{
text-align: right;
align-items: right;

}
